# Log Level. Can be 'FINEST', 'FINE', 'INFO', 'WARN' or 'SEVERE'
log.level = FINEST

# Protocol used to communicate with master node.
# Options: 
#   - REST: REST webservices interface. Useful if you are behind a proxy or firewall
#   - MQTT: To be implemented 
comm.method=MQTT
#comm.method=REST

# Frequency in seconds to notify the master node that we are alive.
comm.updatePeriod=30

comm.nodeName = Node1


# hostname/IP and port where the master node is running
rest.masterNodeHost=localhost
rest.masterNodePort=8080
# URL path where the service is deployed. 
#rest.masterNodePath=/OsomcomPOCSAG-MSC/rest/node

# Local port where webnode is running. 
rest.localNodePort=8080

# MQTT configuration
mqtt.broker = broker.mqttdashboard.com
mqtt.port = 1883
mqtt.subscribingTopic = t4f.org/msc
mqtt.postingTopic = t4f.org/bsc



#Connection to the BTS
bts.port=/dev/ttyUSB0
bts.bauds=9600


